*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.primary-btn{
    font-weight: 700px;
    font-size: 24px;
    padding:9px;
    border:none;
    border-radius: 4px;
    color: rgb(0,70,145);
}
.primary-btn:hover{
    background-color: rgb(235, 43, 43);
    color: white;
}
.header{
    background-image: url('../images/banner/banner.png');
    background-repeat: no-repeat;
    max-height: 800px;
}

/* Navigation Style */
.navigation ul{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 60px 120px 0px 0px;
}
.navigation li{
    list-style-type: none;
    font-size: 25px;
    margin-left: 20px;
    padding: 6px;
    color: white;
}

/*Banner Style*/
.banner{
    display: flex;
    justify-content: end;
    padding: 190px 160px 360px 845px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    color: white;
}
.banner-description{
    width: 450px;
    text-align: justify;
    margin-top:20px;
    margin-bottom: 25px;
    color:white
}

/* Container1 style */
.container1{
    display: flex;
    gap: 80px;
    align-items: center;
    max-width: 1000px;
    max-height: 700px;
    margin:130px 200px 0px 200px;
}
.container1-left{
    width: 50%;
}
.container1-right{
    width: 50%;
}
.container1-title{
    font-weight: 700;
    font-size: 40px;
}
.container1-description{

    margin-top: 20px;
    padding-bottom: 15px;
    color: #444343;
}
.container1-footer{
    display: flex;
    gap: 7px;
}

/* Container2 styles */
.container2{
    margin: 130px 200px 0px 200px;
}
.container2-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}
.skill-list{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

/* Container3 styles */
.container3{
    background-image: url('../images/watch.png'),linear-gradient(90deg, rgba(4, 94, 170, 1), rgba(4, 94, 170, 0));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin-top: 180px;
    margin-left: 180px;
    margin-right: 180px;
    max-height: 350px;
}
.container3-title{
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin-left: 70px;
    padding-top: 20px;
}
.container3-btn{
    margin-left: 70px;
    margin-top: 18px;
    margin-bottom: 20px;
}


/* Footer styles */
footer{
    margin-top: 130px;
    background-color: black;
    max-height: 600px;
}
.footer-container{
    display: flex;
}
/* footer left side */
.footer-left{
    width: 50%;
    padding: 100px 180px;
}
.footer-left-title{
    font-weight: 700;
    font-size: 45px;
    color: white;
}
.footer-left-description{
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-left-footer{
    display: flex;
    justify-content: space-around;
}

/* Footer right side */
.footer-right{
    width: 50%;
    padding: 100px 180px;
}
.footer-right-title{
    color: white;
}
.footer-form input{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.subscribe-btn{
    background-color:#005fac;
    color: white;
}
.copy{
    margin: auto;
    width:fit-content;
    border-top: 1px solid gray; 
    font-size: 14px;
    padding-bottom: 35px;
    color: white;
}